<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/templates/style.css">
        <link rel="icon" href="/templates/favicon.ico">
        <title>Apply</title>
    </head>
    <body>
        <h3><img src="/templates/main-icon.png" width=25px; height=25px;>   Apply rule</h3><br>
        <form method="POST">

            <label><b> Text:</b></label><span style="color:red;" > *</span><br>
            <textarea class="form" name="text" style="width:300px; height:100px;" required></textarea><br>
            <span style="margin-left: 10px; color:red;" > * required</span><br><br>
 
            <input class="button button1" type="submit" value="Apply" style="height:40px; width:100px;"/>
            <button class="button button1" style="height:40px; width:100px;" onclick="history.back();">Cancel</button>
</form>
    </body>
</html>
