<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/templates/style.css">
        <link rel="icon" href="/templates/favicon.ico">
        <title>ERROR</title>
    </head>
    <body>
        <h3><img src="/templates/main-icon.png" width=25px; height=25px;> Error page</h3>
        <h4>ERROR DB:</h4>
        <span>{{.}}</span><br><br><br>
        <button class="button button1" style="height:40px; width:100px;" onclick="history.back();">Back</button>
    </body>
</html>



