<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/templates/style.css">
        <link rel="icon" href="/templates/favicon.ico">
        <title>Events</title>
    </head>
    <body>
        <h2>
        <img src="/templates/main-icon.png" width=25px; height=25px;> Events Log <span><font size="2" color="#808080">(*last 1000 events)</font></span>
        <form method="GET" action="/events/" class="button0">
        <input class="form" type="text" name="id"  size="50"/>
        <button class="button button1" type=“submit”>Search</button>
        <button class="button button1" onclick="history.back();">Menu</button>
        </form>
        </h2>
        <form method="POST">
        <table>
            <thead><th>Id</th><th>Type</th><th>Event</th><th>Data</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Type}}</td>
                <td>{{.Event}}</td>
                <td>{{.Created}}</td>
            </tr>
            {{end}}
        </table>
       </form>
    </body>
</html>
